<div id="<%= dom_id booking %>">
  <p>
    <strong>Supplier name:</strong>
    <%= booking.Supplier_name %>
  </p>

  <p>
    <strong>Number of pallets:</strong>
    <%= booking.Number_of_pallets %>
  </p>

  <p>
    <strong>Date:</strong>
    <%= booking.Date %>
  </p>

</div>
