<!-- temporary footer -->
<nav style="--bs-breadcrumb-divider: '>';" aria-label="breadcrumb">
  <ol class="breadcrumb">
    <%= link_to 'Home', root_path, class:"breadcrumb-item" %>
    <%= link_to 'About', home_about_path, class:"breadcrumb-item active" %>
  </ol>
</nav>