<h1>About us</h1>
  
<div class="wrapper-about">
  <div class="row">
    <div class="col-md-6 col-lg-7 col-xl-8 mb-4">
      <p>The Mayo Booking delivery booking system is a tool that helps to manage the delivery of palletised orders to our warehouse located in Ballina, Co. Mayo.</p>
      <p>Each delivery must be booked in advance and you need to log in to book your delivery. </p>
      <p>This system can be adopted to manage your deliveries. Let us know if you are interested.</p>
      <p>Our exact location is marked on the map below.</p>
      
      <div class="btn btn-md btn-secondary fw-bold  btn-about">
        <%= link_to "New Booking", new_booking_path %>
      </div>
    </div>
    <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
      <h4 class="about-h4">Our address</h4>
      <address>
        Ballina Warehouse<br>
        Abbey Street<br>
        Ballina<br>
        Co. Mayo<br>
        Tel. 096 543210<br>
        contact@mayobooking.com
      </address>
    </div>
  </div>
<div id="map" class="map">
</div>
</div>
<script type="text/javascript">
  var map = new ol.Map({
    target: 'map',
    layers: [
      new ol.layer.Tile({
        source: new ol.source.OSM()
      })
    ],
    view: new ol.View({
      center: ol.proj.fromLonLat([-9.15, 54.11]),
      zoom: 7
    })
  });

    var layer = new ol.layer.Vector({
        source: new ol.source.Vector({
            features: [
                new ol.Feature({
                    geometry: new ol.geom.Point(ol.proj.fromLonLat([-9.15, 54.11]))
                })
            ]
        })
    });
    map.addLayer(layer);
</script>
