<div class="wrapper-home text-center">
    <main class="px-3">
        <h1 class="home-lead-text">Mayo Booking</h1>
        <p class="lead">Mayo Booking is a delivery booking system crteated for CAD</p>
        <p class="lead">
        </p>
    </main>
    <% if user_signed_in? %>
        <div class="btn btn-lg btn-secondary fw-bold  bg-white btn-outline-primary">
            <%= link_to "New booking", new_booking_path %>
        </div>
        <div class="btn btn-lg btn-secondary fw-bold  bg-white btn-outline-primary">
            <%= link_to "All bookings", bookings_path %>
        </div>
    <% else %>
        <div class="btn btn-lg btn-secondary fw-bold border-white bg-white">
            <%= link_to 'Login', new_user_session_path, class:"nav-link" %>
        </div>
        <div class="btn btn-lg btn-secondary fw-bold border-white bg-white">
            <%= link_to 'Register', new_user_registration_path, class:"nav-link" %>
        </div>
    <% end %>
</div>
   