
.wrapper-home{
    background-image: url("home-bg.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 80vh;
}

.home-lead-text {
    color: saddlebrown;
}

.booking-wrapper{
    color:black;
}

.bookings-index{
    min-height: 60vh;
}
